.ticket-with-client-order {
    width: 34rem;
    height: 47rem;
    background-color: #BACBA9;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.waitress-name {
    width: auto;
    margin-top: 1rem;
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.5rem;
    color: #000000;
    text-align: center;
}

.ticket-section {
    margin-top: 1rem;
    width: auto;
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.7rem;
    color: #000000;
    text-align: center;
}

.order-in-ticket {
    width: auto;
    height: 35rem;
    display: flex;
    flex-direction: column;
}

.total-cost {
    width: auto;
    margin-top: 1rem;
    font-family: 'Red Hat Mono', monospace;
    font-size: 1.7rem;
    color: #000000;
    text-align: right;
    margin-right: 1rem;
}