.minus-button,
.plus-button,
.counter-input {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1rem;
    border: none;
}

.minus-button,
.plus-button {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
}

.counter-input{
    background-color: #C28E64;
    font-size: 3rem;
    text-align: center;
    width: 4.5rem;
}

.counter-individual-part{
    width: 13.6rem;
    display: flex;
    height: 3.5rem;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}