.individual-product{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0.5rem;
}

.name-of-product, .price-of-product{
    font-size: 2.8rem;
    height: auto;
}

.name-of-product{
    margin-left: 8.4rem;
    width: 35%;
}

.product-counter{
    display: flex;
    width: 13.6rem;
    justify-content: space-around;
    align-items: center;
}

.minus-button,
.plus-button,
.counter-input {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 1rem;
    border: none;
}

.minus-button,
.plus-button {
    text-align: center;
    color: #000000;
    font-size: 2.5rem;
}

.counter-input{
    background-color: #C28E64;
    font-size: 3rem;
    text-align: center;
    width: 4.5rem;
}

.counter-individual-part{
    width: 13.6rem;
    display: flex;
    height: 3.5rem;
}

.minus-button:active,
.plus-button:active{
    background-color: #edaf7bb5;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}