body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #805633;
  display: flex;
  justify-content: center;
}
h1, h3{
  color: white;
}
.email-input{
 border: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
