* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: 'Abhaya Libre', serif;
  font-weight: bold;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #97663F;
  display: flex;
  justify-content: center;
  align-items: center;
}